### Log Directory ###
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Coverage Directory ###
coverage

### Dependency Directory ###
node_modules

### macOS Directory ###
.DS_Store

### build Directory ###
dict